# ======================
# Datasets
# ======================
Data/

# ======================
# Trained models
# ======================
Models/
model_outputs/

# ======================
# Python
# ======================
__pycache__/
*.py[cod]

# ======================
# Jupyter
# ======================
.ipynb_checkpoints/

# ======================
# Generated outputs
# ======================
eda_plots/

# ======================
# Virtual environments
# ======================
.venv/
venv/
env/